<a href="https://colab.research.google.com/github/loubnakamalrady/Complete-Python-3-Bootcamp/blob/loubnakamalrady-patch-1/03_Function_Practice_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [ ]:
def lesser_of_two_evens(a,b):
  if(a%2==0 and b%2==0):
    if(a<b):
      return a
    elif(b<a):
      return b
  elif(a%2 != 0 or b%2 != 0):
    if(a>b):
      return a
    else:
      return b

In [ ]:
# Check
lesser_of_two_evens(2,4)

2

In [ ]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [ ]:
def animal_crackers(text):
  word = text.split()
  if word[0][0]== word[1][0]:
    return True
  else:  
    return False

In [ ]:
# Check
animal_crackers('Levelheaded Llama')

True

In [ ]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [ ]:
def makes_twenty(n1,n2):
    if(n1 + n2 == 20):
      return True
    elif(n1 == 20 or n2 == 20):
      return True
    else:
      return False

In [ ]:
# Check
makes_twenty(20,10)

True

In [ ]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [ ]:
def old_macdonald(name):
    if(len(name)>3):
      return name[:3].capitalize() + name[3:].capitalize()
    else:
      return 'Name Too Short'

In [ ]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [ ]:
def master_yoda(text):
    return ' '.join(text.split()[::-1])

In [ ]:
# Check
master_yoda('I am home')

'home am I'

In [ ]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [ ]:
def almost_there(n):
    if(abs(100 - n)<=10) or (abs(200-n)<=100):
      return True
    else:
      'Please enter a valid number'

In [ ]:
# Check
almost_there(104)

True

In [ ]:
# Check
almost_there(150)

True

In [ ]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [ ]:
def has_33(nums):
    for i in range(0,len(nums)-1):
      if nums[i] == 3 and nums[i+1]==3:
        return True
    return False

In [ ]:
# Check
has_33([1, 3, 3])

True

In [ ]:
# Check
has_33([1, 3, 1, 3])

False

In [ ]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [ ]:
def paper_doll(text):
    spac = ''
    for char in text:
      spac += char*3
    return spac

In [ ]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [ ]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [ ]:
def blackjack(a,b,c):
    if(a+b+c <= 21):
      return a+b+c
    elif(a+b+c>21 and 11 in (a,b,c)):
      return (a+b+c) - 10
    else:
      return 'BUST'

In [ ]:
# Check
blackjack(5,6,7)

18

In [ ]:
# Check
blackjack(9,9,9)

'BUST'

In [ ]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [79]:
def summer_69(arr):
    total = 0
    sum = True
    for i in arr:
        while sum:
            if i != 6:
                total += i
                break
            else:
                sum = False
        while not sum:
            if i != 9:
                break
            else:
                sum = True
                break
    return total

In [80]:
# Check
summer_69([1, 3, 5])

9

In [81]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [82]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [98]:
def spy_game(nums):
    code = [0,0,7,'x']
    
    for cod in nums:
      if cod == code[0]:
        code.remove(cod)
    return len(code) == 1

In [99]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [102]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [101]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [109]:
def count_primes(num):
    prime_numbers = [2]
    x = 3
    if num < 2:
        return 0
    while x <= num:
        for y in range(3,x,2):
            if x%y == 0:
                x += 2
                break
        else:
            prime_numbers.append(x)
            x += 2
    print(prime_numbers)
    return len(prime_numbers)

In [110]:
# Check
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [121]:
def print_big(letter):
    pattern = {1: '  *  ',2:' * * ',3:'*****',4:'*   *',5:'*   *',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for patterns in alphabet[letter.upper()]:
      print(pattern[patterns])

In [124]:
print_big('a')

  *
 * *
*   *
*****
*****

## Great Job!