<a href="https://colab.research.google.com/github/loubnakamalrady/Complete-Python-3-Bootcamp/blob/loubnakamalrady-patch-1/07_Statements_Assessment_Test_MySolution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Statements Assessment Test
Let's test your knowledge!

_____
**Use <code>for</code>, .split(), and <code>if</code> to create a Statement that will print out words that start with 's':**

In [10]:
st = 'Print only the words that start with s in this sentence'

In [15]:
for x in st.split():
  if(x[0]=='s'):
    print(x)

start
s
sentence

______
**Use range() to print all the even numbers from 0 to 10.**

In [20]:
for x in range(0,11,2):
  print(x)

0
2
4
6
8
10

___
**Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.**

In [21]:
#Code in this cell
[x for x in range(1,51) if x%3==0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

_____
**Go through the string below and if the length of a word is even print "even!"**

In [23]:
st = 'Print every word in this sentence that has an even number of letters'

In [27]:
#Code in this cell
for x in st.split():
  if len(x)%2==0:
    print(x+" EVEN!")

word EVEN!
in EVEN!
this EVEN!
sentence EVEN!
that EVEN!
an EVEN!
even EVEN!
number EVEN!
of EVEN!

____
**Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".**

In [28]:
#Code in this cell
for number in range(1,101):
  if number%3 == 0:
    print("Fizz")
  elif number%5 == 0:
    print("Buzz!")
  elif number%3==0 and number%5==0:
    print("FizzBuzz!")

Fizz
Buzz!
Fizz
Fizz
Buzz!
Fizz
Fizz
Fizz
Buzz!
Fizz
Fizz
Buzz!
Fizz
Fizz
Fizz
Buzz!
Fizz
Fizz
Buzz!
Fizz
Fizz
Fizz
Buzz!
Fizz
Fizz
Buzz!
Fizz
Fizz
Fizz
Buzz!
Fizz
Fizz
Buzz!
Fizz
Fizz
Fizz
Buzz!
Fizz
Fizz
Buzz!
Fizz
Fizz
Fizz
Buzz!
Fizz
Fizz
Buzz!

____
**Use List Comprehension to create a list of the first letters of every word in the string below:**

In [30]:
st = 'Create a list of the first letters of every word in this string'

In [31]:
#Code in this cell
[x[0] for x in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

### Great Job!