<a href="https://colab.research.google.com/github/loubnakamalrady/Complete-Python-3-Bootcamp/blob/master/09_Objects_and_Data_Structures_Assessment_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>
# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write (or just say out loud to yourself) a brief description of all the following Object Types and Data Structures we've learned about. You can edit the cell below by double clicking on it. Really this is just to test if you know the difference between these, so feel free to just think about it, since your answers are self-graded.

Double Click HERE to edit this markdown cell and write answers.

Numbers: Digits like 1,2,3

Strings: Words and Statements that are immutable like 'Cars are nice'

Lists: They are mutable blocks that can contain different types of variables

Tuples: They are immutable blocks that can contain different types of variables

Dictionaries: They are unordered blocks that contain keys and values

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [2]:
((((10**2)/2)+100)-50)+0.25

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) = 4 * 11 = 44
    
    What is the value of the expression 4 * 6 + 5 = 24 + 5 = 29
    
    What is the value of the expression 4 + 6 * 5 = 4 + 30 = 34

In [3]:
x = 4 * (6 + 5)
print(x)

y = 4 * 6 + 5
print(y)

z = 4 + 6 * 5
print(z)

44
29
34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br> It will be 8.5 a float type result<br>

What would you use to find a numberâ€™s square root, as well as its square?

In [5]:
# Square root:
import math
math.sqrt(4)

2.0

In [6]:
# Square:
math.pow(2,2)

4.0

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [8]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

Reverse the string 'hello' using slicing:

In [12]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [13]:
s ='hello'
# Print out the 'o'

# Method 1:
s[-1]

'o'

In [16]:
# Method 2:
s[4]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [19]:
# Method 1:
list1 = [0,0,0]
print(list1)

[0, 0, 0]

In [20]:
# Method 2:
listt = [0]*3
print(listt)

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [21]:
list3 = [1,2,[3,4,'hello']]
list3[2][2] = 'goodbye'
new_list = list3
print(new_list)

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [25]:
list4 = [5,3,4,6,1]
print(list4)
list4.sort()
new_list= list4
print(new_list)

[5, 3, 4, 6, 1]
[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [26]:
d = {'simple_key':'hello'}
# Grab 'hello'
print(d['simple_key'])

hello

In [32]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
print(d['k1']['k2'])

hello

In [35]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
print(d['k1'][0]['nest_key'][1][0])
#Grab hello

hello

In [37]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
print(d['k1'][2]['k2'][1]['tough'][2][0])

hello

Can you sort a dictionary? Why or why not?<br> No because dictionary remembers the order you assigned in it and since it has keys inside it, then its values can't be sorted so you need to sort them manually<br>

## Tuples

What is the major difference between tuples and lists?<br> Lists are mutable while tuples are immutable <br>

How do you create a tuple?<br> tuple1 = (1,2,3) <br>

## Sets

What is unique about a set?<br> They don't let you duplicate items. <br>

Use a set to find the unique values of the list below:

In [38]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [39]:
# Answer before running cell #it will become False
2 > 3

False

In [40]:
# Answer before running cell #it will become false
3 <= 2

False

In [41]:
# Answer before running cell #it will become false
3 == 2.0

False

In [42]:
# Answer before running cell #it will become true
3.0 == 3

True

In [43]:
# Answer before running cell #it will become false
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [45]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False? #FALSE
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!