In [1]:
test = ""

In [2]:
test

''

In [5]:
test = test.join("M")
test

'M'

In [6]:
name = "Mattan"

list(name)

['M', 'a', 't', 't', 'a', 'n']

In [7]:
type(list(name))

list

In [19]:
def DNAtoRNA(dna):
    result = ""
    dna = list(dna.upper());
    for nucleotide in dna:
        if nucleotide == "T":
         result += "U"
        else:
         result += nucleotide;
    return result

In [20]:
DNAtoRNA("GACCGCCGCC")

'GACCGCCGCC'

In [22]:
test = 'mattan'

In [24]:
num = 123

In [26]:
for x in num:
    print(x)

TypeError: 'int' object is not iterable

In [27]:
num = 123

In [29]:
num_str = str(num)
num_str

'123'

In [31]:
int(num_str[::-1])

321

In [35]:
def digitize(n):
    
    n = str(n)
    list = []
    
    reversed = n[::-1]
    
    for char in reversed:
        char = int(char)
        list.append(char)
    
    return list

In [36]:
digitize(123)

[3, 2, 1]

In [37]:
x = None

In [50]:
arr = [5,43,2,1]

In [52]:
arr.sort()
arr[0]

1

In [46]:
find_smallest_int(arr)

TypeError: 'NoneType' object is not subscriptable

In [56]:
def minimum(arr):
    print("min = {} ".format( min(arr) ))

In [57]:
minimum([1,2,3])

min = 1

In [58]:
list = [1,2,3]

In [59]:
list

[1, 2, 3]

In [62]:
cleaned = [x*2 for x in list]

In [63]:
cleaned

[2, 4, 6]

In [68]:
def summation(num):
    
    #Placeholders
    sum = 0
    mylist = list(range(1,num+1))
    
    return mylist

In [76]:
mylist = list(range(1,10))

TypeError: 'list' object is not callable

In [2]:
range(1,10)

range(1, 10)

In [4]:
name = "Mattan"

In [6]:
output = list(mattan)

NameError: name 'mattan' is not defined

In [1]:
name = "Mattan"

In [2]:
name

'Mattan'

In [3]:
type(name)

str

In [4]:
list(name)

['M', 'a', 't', 't', 'a', 'n']

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
def zero(args): return 0
def one(args): return 1
def two(args): return 2
def three(args): return 3
def four(args): return 4
def five(args): return 5
def six(args): return 6
def seven(args): return 7
def eight(args): return 8
def nine(args): return 9

def plus(): return '+'
def minus(): return '-'
def times(): return '*'
def divided_by(): return '/'

In [19]:
seven()

TypeError: seven() missing 1 required positional argument: 'args'

In [24]:
def sum_array(arr):
    
    arr.sort()
    sum = 0
    
    
    for x in arr[1:-1]:
        sum += x
        
    return sum

In [25]:
sum_array([10,34,2,5])

15

In [27]:
arr = [1,2,3,None]

In [29]:
arr.index(None)

3

In [31]:
if arr.index(None):
    print("TRUE")

TRUE

In [32]:
val = 7
name = 'mattan'

In [33]:
if type(val) == int:
    print("TRUE")

TRUE

In [34]:
lst = [None,1,2]

In [60]:
lst.index(None)

0

In [61]:
arr = { 6, 2, 1, 8, 10 }

In [63]:
for x in arr:
    print(x)

1
2
6
8
10

In [64]:
arr

{1, 2, 6, 8, 10}

In [65]:
arr_lst = [x for x in arr]

In [66]:
arr_lst

[1, 2, 6, 8, 10]

In [67]:
arr_lst.sort()

In [72]:
output = arr_lst [1:-1]

In [73]:
sum(output)

16

In [74]:
arr = {1,2,3}

In [75]:
type(arr)

set

In [76]:
list(arr)

[1, 2, 3]

In [77]:
blah = ['']

In [78]:
blah

['']

In [79]:
blah = []

In [80]:
blah

[]

In [94]:
def sum_array(arr):
    if arr == None:
        return 0

    lst = list(arr)
    noneType = arr.count(None)
    
    while noneType > 0:
        lst.remove(None)
        noneType -= 1
        lst.append(0)
        
    lst.sort()
    
    return sum(lst[1:-1])

In [95]:
sum_array(None)

0

In [92]:
sum_array([])

0