# Section 3 - Python Object and Data Structure Basics

### Lessons 11 to

In [79]:
# The mod operator = %, which shows the remainder
23%2 # results in 1, but 22%2 results in 0

1

In [80]:
# Assign variables
a = 1
b = 1.1
c = 'one'

In [86]:
# Check variable types
print(type(a),type(b),type(c))

<class 'int'> <class 'float'> <class 'str'>

In [87]:
print("I'm going on a 'run.'")

I'm going on a 'run.'

In [88]:
print('hello \n world') # line break

hello
 world

In [89]:
print('hello \tworld') # tab

hello 	world

In [90]:
len('hello world') # length includes the space

11

In [91]:
mystring = "Hello World"
mystring[0]

'H'

In [92]:
mystring[-1]

'd'

In [93]:
mystring[2:5]

'llo'

In [94]:
mystring[:3]

'Hel'

In [96]:
mystring[4:]

'o World'

In [98]:
mystring[-1:]

'd'

In [99]:
mystring[:-1]

'Hello Worl'

In [101]:
mystring[-1:-3]

''

In [103]:
mystring[1::5] # jumps 5 spaces after letter in position 1

'eW'

In [104]:
mystring[2:7:2] # start at index 2, go to index 7 (not inclusive), and jump by 2

'loW'

In [105]:
mystring[::-1] # reverses string

'dlroW olleH'

In [106]:
mystring[-3]

'r'

In [107]:
'tinker'[1:4]

'ink'

# Section 5 - Python Statements

In [4]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [5]:
for num in mylist:
    # Check for even
    if num % 2 == 0:
        print(num)
    else: print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [3]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
print(list_sum)

55

In [4]:
# Indentation/white space = important! The print statement is part of the for loop below, but it is above
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [5]:
mystring = 'Hello'
for letter in mystring:
    print(letter)

H
e
l
l
o

In [6]:
for letter in mystring:
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!

In [7]:
# This accomplishes the same but is more readable if you don't intend to print the actual letters
for _ in mystring:
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!

In [8]:
tup = (1,2,3)
for item in tup:
    print(item)

1
2
3

In [9]:
mylist = [(1,2),(3,4),(5,6),(7,8)]
len(mylist)

4

In [10]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [11]:
# Tuple unpacking
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [12]:
for a,b in mylist:
    print(b)

2
4
6
8

In [13]:
d = {'k1':1, 'k2':2, 'k3':3}
for item in d:
    print(item)

k2
k1
k3

In [14]:
for i in d.items():
    print(i)

('k2', 2)
('k1', 1)
('k3', 3)

In [15]:
# Need to use d.items() since print(key) only prints k's!
for key,value in d:
    print(value)

2
1
3

In [16]:
for key,value in d.items():
    print(key)

k2
k1
k3

## Lesson 36

In [7]:
x = 0
while x <5:
    print(f'The current value of x is {x}.')
    x = x + 1 # x +=1 means the same thing
else:
    print('X is not less than 5.')

The current value of x is 0.
The current value of x is 1.
The current value of x is 2.
The current value of x is 3.
The current value of x is 4.
X is not less than 5.

### Additional Loop Statements
pass: Does nothing at all.  
continue: Goes to the top of the closest enclosing loop.  
break: Breaks out of the current closest enclosing loop.

In [8]:
x = [1,2,3]
for i in x:
    # using pass as a placeholder allows you to run the rest of your script without error
    # if you're not yet sure of the loop you want to create
    pass
print('end of script')

end of script

In [11]:
mystring = 'Annie'
for letter in mystring:
    if letter == 'n':
        continue # skips the print stage and goes to the beginning of the loop
    print(letter)

A
i
e

In [13]:
x = 0
while x < 5:
    if x == 2: # without this if/break, the script would print 0 to 4
        break
    print(x)
    x += 1

0
1

## Lesson 37: Useful Operators in Python

In [16]:
mylist = [1,2,3]
for num in range(3,10): # just range(10) prints 0 to 9
    print(num)

3
4
5
6
7
8
9

In [17]:
for num in range(0,11,2): # steps of 2
    print(num)

0
2
4
6
8
10

In [18]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [19]:
range(0,11,2)

range(0, 11, 2)

In [21]:
index_count = 0
for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter)) # f-string doesn't work with empty {}.
    index_count +=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [22]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [23]:
word = 'abcde'
for item in enumerate(word):
    print(item) # returns tuples!

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [24]:
word = 'abcde'
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [32]:
# zips won't result in an error is the list lengths are uneven but will only return the max number of items in a tuple that the lists all share 
mylist1 = [1,2,3,4,5]
mylist2 = ['a', 'b', 'c']
for item in zip(mylist1,mylist2): # just zip(mylist1,mylist2) shows where the zip is stored in your memory
    print(item) # can switch out item with a,b on above line then print(a) here to unpack the tuple

(1, 'a')
(2, 'b')
(3, 'c')

In [33]:
zip(mylist1,mylist2)

In [34]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [35]:
# Use 'in' to easily check if something is in a list
2 in [1,2,3]

True

In [38]:
d = {'mykey':345}
#345 in d.values() # True
345 in d.keys() # False

False

In [39]:
mylist = [10,20,30,40,50]

In [40]:
min(mylist)

10

In [41]:
max(mylist)

50

In [42]:
from random import shuffle

In [43]:
mylist = [10,20,30,40,50]

In [50]:
shuffle(mylist)
mylist

[10, 20, 40, 50, 30]

In [47]:
print(shuffle(mylist))

None

In [51]:
# import random integer
from random import randint

In [52]:
randint(0,100)

75

In [53]:
mynum = randint(0,10)
mynum

9

In [54]:
mynum

9

In [56]:
result = input('What is your name? ') # an interactive input field appears--all input values are stings

What is your name? Annie

result

In [58]:
result = int(input('Favorite Number: '))

Favorite Number: 9

In [59]:
type(result)

int

In [60]:
float(result)

9.0

## Lesson 38: List Comprehensions in Python

In [64]:
mylist = []
mystring = 'hello'
for letter in mystring:
    mylist.append(letter)
mylist

['h', 'e', 'l', 'l', 'o']

In [65]:
mylist = [letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [66]:
myname = [letter for letter in 'Annie']
myname

['A', 'n', 'n', 'i', 'e']

In [69]:
mylist = [x for x in range(0,11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [70]:
mylist = [x**2 for x in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [71]:
mylist = [x for x in range(0,11) if x%2==0] # only evens
mylist

[0, 2, 4, 6, 8, 10]

In [72]:
# Flattened version of the for loop
celsius = [0,10,20,34.5]
fahrenheit = [((9/5)*temp + 32) for temp in celsius]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [74]:
# Expanded version of the for loop
fahrenheit = []
celsius = [0,10,20,34.5]
for temp in celsius:
    fahrenheit.append((9/5)*temp + 32)
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [75]:
# The below is not recommended since it's not very readable
results = [x if x%2==0 else 'ODD' for x in range(0,11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [77]:
# Nested Loops
mylist = []
for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [78]:
# Not recommended since not readable
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]