In [1]:
arr = [1,2,3]

In [2]:
sum(arr)

6

In [3]:
range(3,3,2)

range(3, 3, 2)

In [5]:
list(range(3,3,2))

[]

In [24]:
def count_primes(num):
    primes = [2]
    x = 3
    if num < 2:  # for the case of num = 0 or 1
        return 0
    while x <= num:
        
        for y in range(3,x,2):  # test all odd factors up to x-1
            print(f'for loop entered y is {y}')
            if x%y == 0:
                print (f'x mod y is TRUE {x} mod {y}')
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [26]:
count_primes(21)

while loop entered x is 3
while loop entered x is 5
for loop entered y is 3
while loop entered x is 7
for loop entered y is 3
for loop entered y is 5
while loop entered x is 9
for loop entered y is 3
x mod y is TRUE 9 mod 3
while loop entered x is 11
for loop entered y is 3
for loop entered y is 5
for loop entered y is 7
for loop entered y is 9
while loop entered x is 13
for loop entered y is 3
for loop entered y is 5
for loop entered y is 7
for loop entered y is 9
for loop entered y is 11
while loop entered x is 15
for loop entered y is 3
x mod y is TRUE 15 mod 3
while loop entered x is 17
for loop entered y is 3
for loop entered y is 5
for loop entered y is 7
for loop entered y is 9
for loop entered y is 11
for loop entered y is 13
for loop entered y is 15
while loop entered x is 19
for loop entered y is 3
for loop entered y is 5
for loop entered y is 7
for loop entered y is 9
for loop entered y is 11
for loop entered y is 13
for loop entered y is 15
for loop entered y is 17
while loop entered x is 21
for loop entered y is 3
x mod y is TRUE 21 mod 3
[2, 3, 5, 7, 11, 13, 17, 19]

8

In [12]:
print('hello ' + str(7))

hello 7

In [27]:
for y in range(3,100,2):

    print(f'y is {y} and the range is ' + str(range(3,100,2)))

y is 3 and the range is range(3, 100, 2)
y is 5 and the range is range(3, 100, 2)
y is 7 and the range is range(3, 100, 2)
y is 9 and the range is range(3, 100, 2)
y is 11 and the range is range(3, 100, 2)
y is 13 and the range is range(3, 100, 2)
y is 15 and the range is range(3, 100, 2)
y is 17 and the range is range(3, 100, 2)
y is 19 and the range is range(3, 100, 2)
y is 21 and the range is range(3, 100, 2)
y is 23 and the range is range(3, 100, 2)
y is 25 and the range is range(3, 100, 2)
y is 27 and the range is range(3, 100, 2)
y is 29 and the range is range(3, 100, 2)
y is 31 and the range is range(3, 100, 2)
y is 33 and the range is range(3, 100, 2)
y is 35 and the range is range(3, 100, 2)
y is 37 and the range is range(3, 100, 2)
y is 39 and the range is range(3, 100, 2)
y is 41 and the range is range(3, 100, 2)
y is 43 and the range is range(3, 100, 2)
y is 45 and the range is range(3, 100, 2)
y is 47 and the range is range(3, 100, 2)
y is 49 and the range is range(3, 100, 2)
y is 51 and the range is range(3, 100, 2)
y is 53 and the range is range(3, 100, 2)
y is 55 and the range is range(3, 100, 2)
y is 57 and the range is range(3, 100, 2)
y is 59 and the range is range(3, 100, 2)
y is 61 and the range is range(3, 100, 2)
y is 63 and the range is range(3, 100, 2)
y is 65 and the range is range(3, 100, 2)
y is 67 and the range is range(3, 100, 2)
y is 69 and the range is range(3, 100, 2)
y is 71 and the range is range(3, 100, 2)
y is 73 and the range is range(3, 100, 2)
y is 75 and the range is range(3, 100, 2)
y is 77 and the range is range(3, 100, 2)
y is 79 and the range is range(3, 100, 2)
y is 81 and the range is range(3, 100, 2)
y is 83 and the range is range(3, 100, 2)
y is 85 and the range is range(3, 100, 2)
y is 87 and the range is range(3, 100, 2)
y is 89 and the range is range(3, 100, 2)
y is 91 and the range is range(3, 100, 2)
y is 93 and the range is range(3, 100, 2)
y is 95 and the range is range(3, 100, 2)
y is 97 and the range is range(3, 100, 2)
y is 99 and the range is range(3, 100, 2)

In [31]:
def num_sum(*args):

    return sum(args)

In [32]:
num_sum(2,3,4)

9

In [33]:
s ='mattan'

In [35]:
s.isupper()

False

In [36]:
for char in s:
    print(char)

m
a
t
t
a
n

In [37]:
d = {'first' : 'Mattan', 'last' : 'Romano', 'age' : 28}

In [38]:
d ['weight'] = 185

In [39]:
d

{'first': 'Mattan', 'last': 'Romano', 'age': 28, 'weight': 185}

In [40]:
d.values()

dict_values(['Mattan', 'Romano', 28, 185])

In [41]:
d.items()

dict_items([('first', 'Mattan'), ('last', 'Romano'), ('age', 28), ('weight', 185)])

In [42]:
d

{'first': 'Mattan', 'last': 'Romano', 'age': 28, 'weight': 185}

In [46]:
for key,value in d.items():
    print (f"The key is {key}")
    print (f"The value is {value}")

The key is first
The value is Mattan
The key is last
The value is Romano
The key is age
The value is 28
The key is weight
The value is 185

In [49]:
d

{'first': 'Mattan', 'last': 'Romano', 'age': 29, 'weight': 185}

In [50]:
d

{'first': 'Mattan', 'last': 'Romano', 'age': 29, 'weight': 185}

In [51]:
import string

In [53]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [67]:
d = string.ascii_lowercase

In [70]:
d

'abcdefghijklmnopqrstuvwxyz'

In [71]:
set(d)

TypeError: 'set' object is not callable