# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: They are numerical values such as integers and floats.

Strings: They are datatypes made of multiple characters to store names, sentences, etc.

Lists: They are ordered lists that can store several different datatypes which can be appended to, popped out of, sorted and reversed.

Tuples: They are unordered lists which are immutable i.e. they cannot be changed once set.

Dictionaries: They are unordered lists which store key-value pairs. Any value can be accessed by indexing the dictionary with its key.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [1]:
10 * (9+1) + 25/100

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) = 44
    
    What is the value of the expression 4 * 6 + 5 = 29
    
    What is the value of the expression 4 + 6 * 5 = 34

In [2]:
a = 4 * (6+5)
b = 4 * 6 + 5
c = 4 + 6 * 5
print(f"{a} {b} {c}")

44 29 34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br>Float<br>

What would you use to find a numberâ€™s square root, as well as its square?

In [4]:
# Square root:
import math
math.sqrt(4)

2.0

In [5]:
# Square:
math.pow(2,2)

4.0

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [6]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

Reverse the string 'hello' using slicing:

In [7]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [8]:
s ='hello'
# Print out the 'o'

# Method 1:
s[4]

'o'

In [9]:
# Method 2:
s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [10]:
# Method 1:
[0] + [0] + [0]

[0, 0, 0]

In [11]:
# Method 2:
[0,0,0]

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [13]:
list3 = [1,2,[3,4,'hello']]

list3[2][2] = 'goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [14]:
list4 = [5,3,4,6,1]

list4.sort()
print(list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [15]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [16]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [17]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1]

['hello']

In [18]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br>No, you cannot since a dictionary is made of key-value pairs and thus cannot be sorted.<br>

## Tuples

What is the major difference between tuples and lists?<br>Tuples are lists which are immutable i.e. their values once set cannot be changed.<br>

How do you create a tuple?<br>

```
# This is formatted as code
a = ('1','1','2','3')
```

<br>

## Sets

What is unique about a set?<br>A set only stores unique values of each element i.e. even if it is initalized with several instances of an element, it only stores one of each.<br>

Use a set to find the unique values of the list below:

In [20]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

print(set(list5))

{1, 2, 33, 4, 3, 11, 22}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [0]:
# Answer before running cell
2 > 3

In [0]:
# Answer before running cell
3 <= 2

In [0]:
# Answer before running cell
3 == 2.0

In [0]:
# Answer before running cell
3.0 == 3

In [0]:
# Answer before running cell
4**0.5 != 2

Final Question: What is the boolean output of the cell block below?

In [0]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

## Great Job on your first assessment!