In [1]:
if True:
    print('its True!')

its True!

In [7]:
hungry = True
#if you change the above to false it will display not hungry :)

if hungry:
    print('feed me')
else:
    print('not hungry')

feed me

In [10]:
loc = 'Auto Shop'

if loc == 'Auto Shop':
    print('Cars are cool')
elif loc == 'Store':
    print ('Food is cool')
elif loc == 'Bank':
    print ('Money is cool')
else:
    print ('I dont know much')

Cars are cool

********FOR LOOPS***********

In [3]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [14]:
for jelly in mylist:
    print(jelly)

1
2
3
4
5
6
7
8
9
10

In [4]:
jelly

10

In [18]:
for num in mylist:
    #check for even
    if num % 2 == 0:
        print(f'Even Number ={num}')
    else:
        print(f'Odd Number ={num}')

Odd Number =1
Even Number =2
Odd Number =3
Even Number =4
Odd Number =5
Even Number =6
Odd Number =7
Even Number =8
Odd Number =9
Even Number =10

In [22]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num

print(list_sum)

55

In [30]:
for _ in 'Hello World':
    print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [32]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [33]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [34]:
len(mylist)

4

In [41]:
for c,d in mylist:
    print(d)

2
4
6
8

In [42]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [43]:
for item in mylist:
    print(item)

(1, 2, 3)
(5, 6, 7)
(8, 9, 10)

In [46]:
for a,b,c in mylist:
    print(c)

3
7
10

In [45]:
print(c)

10

In [49]:
d = {'k1':1,'k2':2,'k3':3}

for key,value in d.items():
    print(value)

1
2
3

***********WHILE LOOP***********

In [1]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1
print ('x is greater than 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
x is greater than 5

In [4]:
x = [1,2,3]

for item in x:
    #pass keyword is a placeholder 
    pass

print ('end of my script')

end of script

In [6]:
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [7]:
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [9]:
x = 0

while x < 5:
    if x ==2:
        break
    print (x)
    x += 1

0
1

********useful operators********

In [10]:
mylist =[1,2,3]

In [15]:
for num in range(0,11,2):
    print (num)

0
2
4
6
8
10

In [16]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [21]:
index_count =0
word ='abcdefg'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e
f
g

In [1]:
index_count =0
word ='abcdefg'
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e


5
f


6
g

In [4]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [5]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [6]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [7]:
'x' in [1,2,3]

False

In [8]:
'x' in {'x','y','z'}

True

In [9]:
'a' in ' a world'

True

In [11]:
'world' in 'my world'

True

In [12]:
d ={'mykey':123}
345 in d.keys()

False

In [14]:
mylist = [100,200,300,400,7]

In [15]:
min(mylist)

7

In [16]:
max(mylist)

400

In [17]:
from random import shuffle

In [18]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [20]:
shuffle(mylist)

In [21]:
mylist

[1, 7, 9, 8, 6, 5, 2, 10, 3, 4]

In [22]:
from random import randint

In [32]:
randint(0,100)

26

mynum = randint(0,10)

In [33]:
mynum = randint(0,10)

In [34]:
mynum

4

In [35]:
result = input('What is your name')

What is your nameJose

In [36]:
result

'Jose'

*******LIST COMPREHENSION********

In [52]:
mystring = 'hello'

In [50]:
mylist = [letter for letter in mystring]

In [51]:
mylist

['h', 'e', 'l', 'l', 'o']

In [53]:
mylist =[ x for x in 'word']

In [54]:
mylist

['w', 'o', 'r', 'd']

In [64]:
mylist = [num**2 for num in range (0,10)]

In [65]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [75]:
mylist = [x**2 for x in range(0,11) if x%2==0]

In [76]:
mylist

[0, 4, 16, 36, 64, 100]

In [82]:
celcius =[0,10,30,30,40.5,50,60]

faren = [(9/5*temp+32) for temp in celcius]

In [79]:
faren

[32.0, 50.0, 86.0, 86.0, 104.9]

In [83]:
faren =[]

for temp in celcius:
    faren.append((9/5*temp+32))

In [84]:
faren

[32.0, 50.0, 86.0, 86.0, 104.9, 122.0, 140.0]

In [85]:
results = [x if x%2==0 else 'ODD' for x in range (0,11)]

In [86]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [89]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [90]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [91]:
mylist =[x*y for x in [2,4,6] for y in [1,10,1000]]

In [92]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]