In [ ]:
first_name = "Mattan"
last_name = "Romano"
middle_name = "Joshua"

In [ ]:
age = 28
weight = 185.6
height = (6 * 12) + 3

In [ ]:
personalInfo = {'first name': first_name, 'last name' : last_name, 'age' : age, 'weight' : weight, 'height' : height}

In [ ]:
personalInfo.keys()

dict_keys(['first name', 'last name', 'age', 'weight', 'height'])

In [ ]:
sample = [1,2,3]

In [ ]:
sample [0]

1

In [ ]:
a,b = input().split()

In [ ]:
a

'Mattan'

In [ ]:
b

'Romano'

In [ ]:
a,b,c = "Mattan","Romano","Joshua"

In [ ]:
a.upper()

'MATTAN'

In [ ]:
a

'Mattan'

In [ ]:
c

'Joshua'

In [ ]:
print (f"Your full name is {a} {c} {b}")

Your full name is Mattan Joshua Romano

In [ ]:
name = {'first_name' : "Mattan", 'middle_name' : "Joshua", 'last_name' : "Romano", 'age' : 28}

In [ ]:
name.items()

dict_items([('first_name', 'Mattan'), ('middle_name', 'Joshua'), ('last_name', 'Romano'), ('age', 28)])

In [ ]:
name.keys()

dict_keys(['first_name', 'middle_name', 'last_name', 'age'])

In [ ]:
for a,b in name.items():
    print(f"{a} : {b}")

first_name : Mattan
middle_name : Joshua
last_name : Romano
age : 28

In [ ]:
name

{'first_name': 'Mattan',
 'middle_name': 'Joshua',
 'last_name': 'Romano',
 'age': 28}

In [ ]:
name.items()

dict_items([('first_name', 'Mattan'), ('middle_name', 'Joshua'), ('last_name', 'Romano'), ('age', 28)])

In [ ]:
name

{'first_name': 'Mattan',
 'middle_name': 'Joshua',
 'last_name': 'Romano',
 'age': 28}

In [ ]:
name.pop('age')

28

In [ ]:
name.items()

dict_items([('first_name', 'Mattan'), ('middle_name', 'Joshua'), ('last_name', 'Romano')])

In [ ]:
name['age'] = 28

In [ ]:
name.items()

dict_items([('first_name', 'Mattan'), ('middle_name', 'Joshua'), ('last_name', 'Romano'), ('age', 28)])

In [ ]:
first = input("Whats your first name\n")
last = input("Whats your last name\n")
age = input("How old are you\n")

In [ ]:
mattan = {'first_name' : first, 'last_name' : last, 'age' : age}
#print(f'These are the details we on you so far {mattan.items()}')

These are the details we on you so far dict_items([('first_name', 'Mattan'), ('last_name', 'Romano'), ('age', '28')])

In [ ]:
for a,b in mattan.items():
    print(f"Your {a} is {b}")

Your first_name is Mattan
Your last_name is Romano
Your age is 28

In [ ]:
mattan.clear()

In [ ]:
mattan

{}

In [ ]:
mattan['first_name'] = "Mattan"

In [67]:
detailsCreated = False
x = 0
round = x + 1
output = [None] * 3
answer = None

In [89]:
while detailsCreated == False:
    if x < 3:
       print(f"The status loop status is set to {detailsCreated} and the round is {round} and x is set to {x}")
       output [x] = input("Enter a fact")
       x,round += 1
    elif x == 3:
        answer = input(" Do you have more facts to give? enter 'Y' or 'N' ")
        if answer == 'Y':
            print (f"X is {x}")
            output [x] = {'bonus': input("What is your bonus fact:")}
            
        break
    else:
        print("We have 3 facts about you. We will now shut down and break the loop")
        detailsCreated = True
        print(f"The status loop status is set to {detailsCreated} and the round is {round} and x is set to {x} and the full list of details is: {output[0]} | {output[1]} | {output[2]}")

SyntaxError: 'tuple' is an illegal expression for augmented assignment (2331038870.py, line 5)

In [88]:
output

[None, None]

In [90]:
output.insert(3,None)

In [92]:
output.clear()

In [93]:
output.append(None)

In [94]:
output

[None]

In [95]:
output = [0,1,3]

In [96]:
output

[0, 1, 3]

In [97]:
output.pop()

3

In [98]:
output

[0, 1]

In [99]:
output.append(2)

In [100]:
output

[0, 1, 2]

In [101]:
output.insert(3,"Mattan")

In [102]:
output

[0, 1, 2, 'Mattan']

In [104]:
output

[0, 1, 2, 'Mattan']

In [105]:
output.pop()

'Mattan'

In [106]:
output

[0, 1, 2]

In [107]:
output.remove(2)

In [108]:
output

[0, 1]

In [109]:
output.extend([2,3,4,5])

In [110]:
output

[0, 1, 2, 3, 4, 5]

In [111]:
output.remove([2,3,4])

ValueError: list.remove(x): x not in list

In [113]:
output.append({'name' : "Mattan Romano" })

In [114]:
output

[0, 1, 2, 3, 4, 5, {'name': 'Mattan Romano'}]

In [115]:
output [6]

{'name': 'Mattan Romano'}

In [118]:
output

[0, 1, 2, 3, 4, 5, {'name': 'Mattan Romano'}]

In [128]:
output.append("New Field")

In [131]:
answerPos = output.index("New Field")

In [132]:
output

[0, 1, 2, 3, 4, 5, {'name': 'Mattan Romano'}, 'New Field']

In [135]:
answerPos

7

In [173]:
output

[0, 1, 2, 3, 4, 5, {'name': 'Mattan Romano'}, 'New Field']

In [174]:
test = {'first' : 'Mattan', 'last' : 'Romano'}

In [175]:
test

{'first': 'Mattan', 'last': 'Romano'}

In [176]:
test.items()

dict_items([('first', 'Mattan'), ('last', 'Romano')])

In [182]:
test ['first']

'Mattan'

In [183]:
test.keys()

dict_keys(['first', 'last'])

In [184]:
test.get('first')

'Mattan'

In [185]:
test [0]

KeyError: 0

In [186]:
test ['mattan']

KeyError: 'mattan'

In [187]:
test ['first']

'Mattan'

In [193]:
list = [1,2,3]

In [194]:
list[3] = "New"

IndexError: list assignment index out of range

In [195]:
list [0] = "Mattan"

In [197]:
a = list.index("Mattan")

In [198]:
list.remove("Mattan")

In [199]:
list

[2, 3]