# Section 3 - Python Object and Data Structure Basics
## (Sections 1 & 2 were Overview and Setup)

### Lessons 10 to 32

In [1]:
# The mod operator = %, which shows the remainder
23%2 # results in 1, but 22%2 results in 0

1

In [2]:
# Assign variables
a = 1
b = 1.1
c = 'one'

In [3]:
# Check variable types
print(type(a),type(b),type(c))

<class 'int'> <class 'float'> <class 'str'>

In [4]:
print("I'm going on a 'run.'")

I'm going on a 'run.'

In [5]:
print('hello \n world') # line break

hello
 world

In [6]:
print('hello \tworld') # tab

hello 	world

In [7]:
len('hello world') # length includes the space

11

In [8]:
mystring = "Hello World"
mystring[0]

'H'

In [9]:
mystring[-1]

'd'

In [10]:
mystring[2:5]

'llo'

In [11]:
mystring[:3]

'Hel'

In [12]:
mystring[4:]

'o World'

In [13]:
mystring[-1:]

'd'

In [14]:
mystring[:-1]

'Hello Worl'

In [15]:
mystring[-1:-3]

''

In [16]:
mystring[1::5] # jumps 5 spaces after letter in position 1

'eW'

In [17]:
mystring[2:7:2] # start at index 2, go to index 7 (not inclusive), and jump by 2

'loW'

In [18]:
mystring[::-1] # reverses string

'dlroW olleH'

In [19]:
mystring[-3]

'r'

In [20]:
'tinker'[1:4]

'ink'

In [21]:
# Strings are IMMUTABLE
name = 'Sam'
# can't do name[0] = 'P'; must concatenate instead

In [22]:
last_letters = name[1:]

In [23]:
# String concatenation
'P' + last_letters

'Pam'

In [24]:
letter = 'z'
letter * 10

'zzzzzzzzzz'

In [25]:
2+3

5

In [26]:
'2' + '3'

'23'

In [27]:
name.upper()

'SAM'

In [28]:
name.lower()

'sam'

In [29]:
x = 'My name is Annie'
x.split()

['My', 'name', 'is', 'Annie']

In [30]:
x.split('i')

['My name ', 's Ann', 'e']

In [31]:
print('Do you like {}?'.format('APPLES'))

Do you like APPLES?

In [32]:
print('The {} {} {}'.format('fox','brown','quick'))

The fox brown quick

In [33]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [34]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

In [35]:
result = 100/777
result

0.1287001287001287

In [36]:
print('The result was {r:1.3f}'.format(r=result))

The result was 0.129

In [37]:
print('The result was {r:10.5f}'.format(r=result))

The result was    0.12870

In [38]:
name = 'Annie'
print('Hello, my name is {}.'.format(name))

Hello, my name is Annie.

In [39]:
# These aren't working because my computuer now has only 3.5.5 installed. f strings are part of 3.6
name = 'Annie'
print(f'Hello, my name is {name}.')

SyntaxError: invalid syntax (<ipython-input-39-71cadc7cc88f>, line 2)

In [40]:
name = 'Annie'
age = 28
print(f'{name} is {age}.')

SyntaxError: invalid syntax (<ipython-input-40-93f34fdd08d5>, line 3)

In [41]:
# %s is a placeholder for a string
'I like %s' %'bikes'

'I like bikes'

In [42]:
mylist = ['string', 100, 26.2]
mylist

['string', 100, 26.2]

In [43]:
mylist[1]

100

In [44]:
newlist = ['dog', 'four']
mylist + newlist

['string', 100, 26.2, 'dog', 'four']

In [45]:
combolist = mylist + newlist
combolist.append('bikes')
combolist

['string', 100, 26.2, 'dog', 'four', 'bikes']

In [46]:
combolist[3] = 'DOG'
combolist

['string', 100, 26.2, 'DOG', 'four', 'bikes']

In [47]:
combolist.pop()

'bikes'

In [48]:
combolist

['string', 100, 26.2, 'DOG', 'four']

In [49]:
combolist.pop(2)
combolist

['string', 100, 'DOG', 'four']

In [50]:
numlist = [4,1,8,3]
numlist.sort()
numlist

[1, 3, 4, 8]

In [51]:
numlist.reverse()
numlist

[8, 4, 3, 1]

In [52]:
mylist = [1,1,[1,2]]

In [53]:
# Grab just the 2
mylist[2][1]

2

In [54]:
my_dict = {'k1':'v1','k2':'v2','k3':'v3'}
my_dict

{'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}

In [55]:
my_dict['k1']

'v1'

In [56]:
my_dict2 = {'k1':123,'k2':[0,1,2],'k3':{'insideKey':100}}
my_dict2

{'k1': 123, 'k2': [0, 1, 2], 'k3': {'insideKey': 100}}

In [57]:
my_dict2['k2']

[0, 1, 2]

In [58]:
my_dict2['k2'][2]

2

In [59]:
my_dict2['k3']['insideKey']

100

In [60]:
d = {'k1':['a','b','c']}
d

{'k1': ['a', 'b', 'c']}

In [61]:
mylist = d['k1']

In [62]:
mylist[2]

'c'

In [63]:
mylist[2].upper()

'C'

In [64]:
d['k1'][2].upper()

'C'

In [65]:
d

{'k1': ['a', 'b', 'c']}

In [66]:
d = {'k1':100,'k2':200}

In [67]:
d['k3'] = 300

In [68]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [69]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [70]:
d.values()

dict_values([100, 200, 300])

In [71]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [72]:
# Tuples are similar to lists but they are immutable--not common to use as a beginner but helpful later when there are things you don't want changed
t = (1,2,3,'ab')
len(t)

4

In [73]:
t2 = (1,2,3,'ab',1,1,1)
t2.count(1)

4

In [74]:
t2.index(3) # only results in the first instance of this value in the tuple

2

In [75]:
myset = set()

In [76]:
myset.add(1)

In [77]:
myset

{1}

In [78]:
myset.add(1)

In [79]:
myset

{1}

In [80]:
mylist = [1,1,1,1,1,23,2,32,2,2,34,5]
set(mylist) # set returns only the unique values

{1, 2, 5, 23, 32, 34}

In [81]:
test = set('Mississippi')
test

{'M', 'i', 'p', 's'}

In [82]:
b = None # good placeholder for when you want to use a specific variable later
b

%%writefile is specific to Jupyter notebook

In [83]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Overwriting myfile.txt

In [84]:
myfile = open('myfile.txt')

In [85]:
pwd

'/Users/annie/Desktop/Github/Udemy/Complete-Python-3-Bootcamp'

In [86]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [87]:
# Can only read it once unless you set the cursor back at 0
myfile.read()

''

In [88]:
# Set cursor back to 0
myfile.seek(0)

0

In [89]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [90]:
myfile.seek(0)

0

In [91]:
contents = myfile.read()
contents

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [92]:
myfile.seek(0)
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line']

In [93]:
myfile.close()

In [94]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [95]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [96]:
# Use SHIFT + TAB inside paren like 'open(' to learn all its modes
with open('myfile.txt',mode='r') as myfile:
    contents = myfile.read()

In [97]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [98]:
with open('myfile.txt',mode='r') as myfile:
    print(myfile.read())

Hello this is a text file
this is the second line
this is the third line

In [99]:
with open('myfile.txt',mode='a') as myfile:
    myfile.write('this is the fourth line')

In [100]:
with open('myfile.txt',mode='r') as myfile:
    print(myfile.read())

Hello this is a text file
this is the second line
this is the third linethis is the fourth line

In [101]:
with open('myfile.txt',mode='a') as myfile:
    myfile.write('\nthis is the fourth line')

In [102]:
with open('myfile.txt',mode='r') as myfile:
    print(myfile.read())

Hello this is a text file
this is the second line
this is the third linethis is the fourth line
this is the fourth line

# Section 5 - Python Statements

In [103]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [104]:
for num in mylist:
    # Check for even
    if num % 2 == 0:
        print(num)
    else: print(f'Odd Number: {num}')

SyntaxError: invalid syntax (<ipython-input-104-8386ee51dd07>, line 5)

In [105]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
print(list_sum)

55

In [106]:
# Indentation/white space = important! The print statement is part of the for loop below, but it is above
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [107]:
mystring = 'Hello'
for letter in mystring:
    print(letter)

H
e
l
l
o

In [108]:
for letter in mystring:
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!

In [109]:
# This accomplishes the same but is more readable if you don't intend to print the actual letters
for _ in mystring:
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!

In [110]:
tup = (1,2,3)
for item in tup:
    print(item)

1
2
3

In [111]:
mylist = [(1,2),(3,4),(5,6),(7,8)]
len(mylist)

4

In [112]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [113]:
# Tuple unpacking
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [114]:
for a,b in mylist:
    print(b)

2
4
6
8

In [115]:
d = {'k1':1, 'k2':2, 'k3':3}
for item in d:
    print(item)

k1
k2
k3

In [116]:
for i in d.items():
    print(i)

('k1', 1)
('k2', 2)
('k3', 3)

In [117]:
# Need to use d.items() since print(key) only prints k's!
for key,value in d:
    print(value)

1
2
3

In [118]:
for key,value in d.items():
    print(key)

k1
k2
k3

## Lesson 35

In [7]:
x = 0
while x <5:
    print(f'The current value of x is {x}.')
    x = x + 1 # x +=1 means the same thing
else:
    print('X is not less than 5.')

The current value of x is 0.
The current value of x is 1.
The current value of x is 2.
The current value of x is 3.
The current value of x is 4.
X is not less than 5.

### Additional Loop Statements
pass: Does nothing at all.  
continue: Goes to the top of the closest enclosing loop.  
break: Breaks out of the current closest enclosing loop.

In [119]:
x = [1,2,3]
for i in x:
    # using pass as a placeholder allows you to run the rest of your script without error
    # if you're not yet sure of the loop you want to create
    pass
print('end of script')

end of script

In [120]:
mystring = 'Annie'
for letter in mystring:
    if letter == 'n':
        continue # skips the print stage and goes to the beginning of the loop
    print(letter)

A
i
e

In [121]:
x = 0
while x < 5:
    if x == 2: # without this if/break, the script would print 0 to 4
        break
    print(x)
    x += 1

0
1

## Lesson 36: Useful Operators in Python

In [122]:
mylist = [1,2,3]
for num in range(3,10): # just range(10) prints 0 to 9
    print(num)

3
4
5
6
7
8
9

In [123]:
for num in range(0,11,2): # steps of 2
    print(num)

0
2
4
6
8
10

In [124]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [125]:
range(0,11,2)

range(0, 11, 2)

In [126]:
index_count = 0
for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter)) # f-string doesn't work with empty {}.
    index_count +=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [127]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [128]:
word = 'abcde'
for item in enumerate(word):
    print(item) # returns tuples!

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [129]:
word = 'abcde'
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [130]:
# zips won't result in an error if the list lengths are uneven but will only return the max number of items in a tuple that the lists all share 
mylist1 = [1,2,3,4,5]
mylist2 = ['a', 'b', 'c']
for item in zip(mylist1,mylist2): # just zip(mylist1,mylist2) shows where the zip is stored in your memory
    print(item) # can switch out item with a,b on above line then print(a) here to unpack the tuple

(1, 'a')
(2, 'b')
(3, 'c')

In [131]:
zip(mylist1,mylist2)

In [132]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [133]:
# Use 'in' to easily check if something is in a list
2 in [1,2,3]

True

In [134]:
d = {'mykey':345}
#345 in d.values() # True
345 in d.keys() # False

False

In [135]:
mylist = [10,20,30,40,50]

In [136]:
min(mylist)

10

In [137]:
max(mylist)

50

In [138]:
from random import shuffle

In [139]:
mylist = [10,20,30,40,50]

In [140]:
shuffle(mylist)
mylist

[10, 50, 20, 40, 30]

In [141]:
print(shuffle(mylist))

None

In [142]:
# import random integer
from random import randint

In [143]:
randint(0,100)

37

In [144]:
mynum = randint(0,10)
mynum

10

In [145]:
mynum

10

In [147]:
result = input('What is your name? ') # an interactive input field appears--all input values are stings

In [148]:
result

'Annie'

In [149]:
result = int(input('Favorite Number: '))

In [150]:
type(result)

int

In [151]:
float(result)

9.0

## Lesson 37: List Comprehensions in Python

In [152]:
mylist = []
mystring = 'hello'
for letter in mystring:
    mylist.append(letter)
mylist

['h', 'e', 'l', 'l', 'o']

In [153]:
mylist = [letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [154]:
myname = [letter for letter in 'Annie']
myname

['A', 'n', 'n', 'i', 'e']

In [155]:
mylist = [x for x in range(0,11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [156]:
mylist = [x**2 for x in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [157]:
mylist = [x for x in range(0,11) if x%2==0] # only evens
mylist

[0, 2, 4, 6, 8, 10]

In [158]:
# Flattened version of the for loop
celsius = [0,10,20,34.5]
fahrenheit = [((9/5)*temp + 32) for temp in celsius]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [159]:
# Expanded version of the for loop
fahrenheit = []
celsius = [0,10,20,34.5]
for temp in celsius:
    fahrenheit.append((9/5)*temp + 32)
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [160]:
# The below is not recommended since it's not very readable
results = [x if x%2==0 else 'ODD' for x in range(0,11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [161]:
# Nested Loops
mylist = []
for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [162]:
# Not recommended since not readable
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

# Section 6 - Methods and Functions

## Lesson 43

In [166]:
# * allows you to put in as many inputs as you want. args can be named anything
def myfunc(*args):
    return sum(args)

In [167]:
myfunc(2,3,10,17)

32

In [169]:
def myfunc2(**kwargs):
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here.')

In [170]:
myfunc2(fruit='apple',veggie='lettuce')

My fruit of choice is apple

In [171]:
def myfunc3(*args, **kwargs):
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [173]:
myfunc3(10,20,30,fruit='orange',food='eggs',animal='dog')

I would like 10 eggs

In [178]:
def myfunc(*args):
    return [x for x in args if x%2==0]

In [179]:
myfunc(3,6,7,8)

[6, 8]

In [187]:
def myfunc(word):
    mystring = ""
    for index,letter in enumerate(word):
        if index%2==0:
            mystring+=letter.lower()
        else:
            mystring+=letter.upper()
    return mystring

In [188]:
myfunc('skyline')

'sKyLiNe'