In [4]:
def name_of_function(name):
    '''
    This says hello to <name>.
    '''
    return("Hello " + name)

In [5]:
help(name_of_function)

Help on function name_of_function in module __main__:

name_of_function(name)
    This says hello to <name>.

In [6]:
name_of_function("Arthur")

'Hello Arthur'

In [7]:
def add_function(num1,num2):
    return num1 + num2

In [10]:
x = add_function(1,2)

In [11]:
x

3

In [12]:
def say_hello():
    print("hello")
    print("are")
    print("you")

In [13]:
say_hello()

hello
are
you

In [14]:
say_hello

In [22]:
def say_hello(name=""):
    print(f'Hello {name}')

In [23]:
say_hello("Arthur")

Hello Arthur

In [24]:
say_hello()

Hello

In [28]:
def add_num(num1=0,num2=0):
    return(num1 + num2)

In [29]:
add_num(10,20)

30

In [30]:
add_num()

0

In [32]:
def print_result(a,b):
    print(a + b)

In [33]:
def return_result(a,b):
    return a + b

In [34]:
print_result(10,20)

30

In [35]:
return_result(10,20)

30

In [36]:
result = return_result(10,20)

In [37]:
result

30

In [38]:
def sum_numbers(num1,num2):
    return num1 + num2

In [41]:
sum_numbers(1,2)

3

In [42]:
2 % 2

0

In [43]:
3 % 2

1

In [45]:
41 % 20

1

In [46]:
20 % 2 == 0

True

In [47]:
21 % 2 == 0

False

In [51]:
def even_check(number):
    return number % 2 == 0

In [52]:
even_check(35)

False

In [88]:
def check_even_list(num_list):
    '''
    Return all even numbers
    '''
    
    even_numbers = []
    
    for number in num_list:
        if number % 2 == 0:
            even_numbers.append(number)
        
    return even_numbers

In [89]:
even_list = check_even_list([12,21,13,16,6])

In [90]:
even_list

[12, 16, 6]

In [91]:
even_list.sort()

In [92]:
stock_prices = [('APPL',200),('GOOG',400),('MSFT',100)]

In [94]:
for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [98]:
for ticker,price in stock_prices:
    print(price + 0.1 * price)

220.0
440.0
110.0

In [102]:
work_hours = [('Abby',100),('Billy',4000),('Cassie',800)]

In [103]:
def employee_check(work_hours):
    
    current_max = 0
    employee_of_month = ""
    
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
    
    return(employee_of_month,current_max)

In [106]:
name, hours = employee_check(work_hours)

In [107]:
name

'Billy'

In [108]:
hours

4000

In [109]:
 example = [1,2,3,4,5,6,7]

In [110]:
from random import shuffle

In [111]:
shuffle(example)

In [112]:
example

[4, 7, 2, 3, 6, 1, 5]

In [119]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [120]:
result = shuffle_list(example)

In [121]:
result

[6, 2, 3, 7, 1, 4, 5]

In [128]:
mylist = [' ','O',' ']

In [129]:
shuffle_list(mylist)

['O', ' ', ' ']

In [130]:
def player_guess():
    
    guess = ''
    
    while guess not in ['0','1','2']:
        guess = input("Pick a number: 0, 1, or 2: ")
        
    return int(guess)

In [131]:
player_guess()

Pick a number: 0, 1, or 2: 2

2

In [132]:
def check_guess(mylist,guess):
    if mylist[guess] == 'O':
        print("Correct")
    else:
        print("Wrong guess!")
        print(mylist)

In [134]:
mylist = [' ', 'O', ' ']

mixedup_list = shuffle_list(mylist)

guess = player_guess()

check_guess(mixedup_list,guess)

Pick a number: 0, 1, or 2: 1
Wrong guess!
['O', ' ', ' ']

In [137]:
mylist = [' ', 'O', ' ']

# mixedup_list = shuffle_list(mylist)

# guess = player_guess()

check_guess(shuffle_list(mylist),player_guess())

Pick a number: 0, 1, or 2: 0
Correct

In [138]:
def myfunc(a,b):
    # Returns 5% of the sum of a & b
    return sum((a,b)) * 0.05

In [139]:
myfunc(40,60)

5.0

In [143]:
def myfunc(*spam):
    return sum(spam) * 0.05

In [144]:
myfunc(1,2,3,4,5,6,7,8,9,10)

2.75

In [145]:
def myfunc(*args):
    for item in args:
        print(item)

In [146]:
myfunc(1,2,3,4,5,6,7,8,9,10)

1
2
3
4
5
6
7
8
9
10

In [149]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print("I did not find any fruit here")

In [150]:
myfunc(fruit="apple")

My fruit of choice is apple

In [151]:
myfunc(fruit="apple",veggie="lettuce")

My fruit of choice is apple

In [152]:
def myfunc(*args,**kwargs):
    
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [153]:
myfunc(10,20,30,fruit='orange',food='eggs',animal="dog")

I would like 10 eggs

In [154]:
mystring = "apples"

In [155]:
splitstring = mystring.split('')

ValueError: empty separator